Source: online-accounts-api
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: cmake (>= 2.8.9),
               debhelper (>= 9),
               pkg-config,
               python3:any,
               libaccounts-qt5-dev (>= 1.15),
               libapparmor-dev,
               libonline-accounts-client-dev (>= 0.7),
               libqtdbusmock1-dev,
               libqtdbustest1-dev,
               libsignon-qt5-dev,
               qt5-default,
               qtbase5-dev (>= 5.4),
               qtdeclarative5-dev,
               qttools5-dev-tools,
               signon-plugins-dev,
               xvfb,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/online-accounts-api
# If you aren't a member of ~online-accounts but need to upload packaging
# changes, just go ahead.  ~online-accounts will notice and sync up the
# code again.
Vcs-Bzr: https://code.launchpad.net/~online-accounts/online-accounts-api/trunk

Package: libonline-accounts-daemon1
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Pre-Depends: ${misc:Pre-Depends},
Description: Online Accounts simplified API (D-Bus service)
 D-Bus service implementing the simplified Online Accounts API.

Package: libonline-accounts-daemon-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libonline-accounts-daemon1 (= ${binary:Version}),
Pre-Depends: dpkg (>= 1.15.6~), ${misc:Pre-Depends},
Breaks: online-accounts-daemon-dev
Provides: online-accounts-daemon-dev
Replaces: online-accounts-daemon-dev
Description: Online Accounts simplified API (bindings development files)
 This module contains the necessary files for developing client libraries
 interfacing with the simplified Online Accounts API.

Package: libonline-accounts-qt1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libonline-accounts-daemon1 (= ${binary:Version}),
Recommends: online-accounts-daemon,
Pre-Depends: ${misc:Pre-Depends},
Description: Library for the simplified Online Accounts API
 The OnlineAccounts library offers an Qt-based API for applications to use
 the Online Accounts functionality.

Package: libonline-accounts-qt-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libonline-accounts-qt1 (= ${binary:Version}),
Pre-Depends: ${misc:Pre-Depends},
Description: Library for the simplified Online Accounts API - development files
 The OnlineAccounts library offers an Qt-based API for applications to use
 the Online Accounts functionality.

Package: qml-module-ubuntu-onlineaccounts2
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qml-module-qtquick2,
Description: Online Accounts API for QML applications
 This module provides access to the new Online Accounts API from QML
 applications.

Package: qml-module-ubuntu-onlineaccounts2-doc
Section: doc
Build-Profiles: <!cross>
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: Online Accounts API, HTML documentation
 This module provides access to the new Online Accounts API from QML
 applications.
 .
 This package contains the HTML documentation.
