#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Skip tests on the archs they are known to be flaky with current configuration
# See https://launchpad.net/bugs/1606927
testskip_architectures := arm64

override_dh_auto_test:
ifneq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH), $(testskip_architectures)))
	dh_auto_test
endif

override_dh_install:
	rm -rf debian/*/usr/bin/accountd
	rm -rf debian/*/usr/share/dbus-1/services/com.ubuntu.OnlineAccounts.Manager.service
	dh_install --fail-missing

%:
	dh $@
